body{
    background-color: #252525;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  input{
    margin-left: 5%; 
    width: 90%; 
    height: 30px; 
    border-color: #202020;
    color : #f0f0f0;
    background-color: #101010;
    border-radius: 10px;
    border-color: #151515;
    font-size: small;
    outline: none;
    text-indent: 10px;
    font-weight: bold;
  }
  
  button{
    width: 50%;
    color : #f0f0f0;
    background-color: #050505;
    border-radius: 0;
    border-color: #151515;
    border-width: 0;
  
    padding-top: 1px;
  }
  
  select{
    border-image-source:url(assets/img/FC.png);
  width: 80%;
  }
  
  h4{
  margin-left: 10px;
  }
  #transfer{
  margin : auto; 
  background-color: #151515;
  border: #202020;
  border-style: solid;
  border-bottom: blue;
  border-radius: 15px;
  width: 380px;
  height: 520px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }

  
  #stake1{
    display: none;
  }
  
  #stake2{
    display: none;
  }  
  
  
  
  
  
