body{
    background-color: #252525;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    
  }

select{
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  border-radius: 5px;
}  
  
  #bridge{
    height: 100%;
    width: 200px;
    float:left;
    position: absolute;
    background-color: goldenrod;
  }
  #submit{
    text-align: center;
    color : #f0f0f0;
    background-color: #414040;
    font-size: small;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    border-width: 0px;
    width: 70px;
    height: 30px;
  }
  
  .buttom{
    width: 80%;
    color : #f0f0f0;
    background: transparent;
    border-width: 0px;
    border-bottom-width: 2px;
    margin-left: 50px;
    margin-bottom: 33px;
    margin-top: 0px;
    outline: none;
  
  }

  #tokenAddressFrom{
    margin-top: 193px;
  }
  #fee{
    margin-top: 5px;
  }
  #claimingFee{
    margin-top: 2px;
  }
  
  h4{
  margin-left: 10px;
  }
  #transfer{
  background-image: url('https://cdn.discordapp.com/attachments/688379528070037509/856888060742598696/bridge.png');
  margin : auto; 
  border-bottom: blue;
  border-radius: 15px;
  width: 400px;
  height: 625px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
  #stake1{
    display: none;
  }
  
  #stake2{
    display: none;
  }  
  
  
  
  
  
